<!DOCTYPE html>
<html>
<title>米亞MYA【香港VTuber】</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>


    <!-- open graph -->
    <!-- Informations -->
      <meta property="og:description" content="呢個係秋玥我喺冇米亞直播嘅日子寫出嚟嘅整合網站,入面應該包含曬大部分烤肉/相關影片,新嘅烤肉/相關影片都會自動更新(約每小時更新一次),不過可能會有DELAY" />
      <meta property="og:title" content="米亞MYA【香港VTuber】影片整合網站" />
      <meta property="og:type"  content="website" />
      <meta property="og:url"   content="https://mya.autumnyue999.repl.co/" />
    <!-- Image -->
      <meta property="og:image" content="https://yt3.ggpht.com/ytc/AAUvwnhCFeY22-ljL2kj7j2L9v4ejxXXWbD18HZHIzAKPQ=s176-c-k-c0x00ffffff-no-rj" />
      <meta property="og:image:alt"    content="https://yt3.ggpht.com/ytc/AAUvwnhCFeY22-ljL2kj7j2L9v4ejxXXWbD18HZHIzAKPQ=s176-c-k-c0x00ffffff-no-rj" />
      <meta property="og:image:height" content="80" />
      <meta property="og:image:secure_url" content="https://yt3.ggpht.com/ytc/AAUvwnhCFeY22-ljL2kj7j2L9v4ejxXXWbD18HZHIzAKPQ=s176-c-k-c0x00ffffff-no-rj" />
      <meta property="og:image:type"  content="image/jpeg" />
      <meta property="og:image:width" content="80" />
      <meta property="og:locale" content="en_GB" />
  <link rel="icon" href="https://yt3.ggpht.com/ytc/AAUvwnhCFeY22-ljL2kj7j2L9v4ejxXXWbD18HZHIzAKPQ=s176-c-k-c0x00ffffff-no-rj">
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<body>

<!-- Navbar (sit on top) -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <a class="navbar-brand" href="/">
      <img src="https://yt3.ggpht.com/ytc/AAUvwnhCFeY22-ljL2kj7j2L9v4ejxXXWbD18HZHIzAKPQ=s176-c-k-c0x00ffffff-no-rj" width="30" height="30" class="d-inline-block align-top" alt="">
      <span class="h3 mx-1">米亞MYA【香港VTuber】</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">首頁</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/info">簡介</a>
        </li>
          <li class="nav-item ">
          <a class="nav-link" href="/edit">烤肉/相關影片</a>
        </li>
        <!-- .dropdown Navbar選項使用下拉式選單 -->
        <li class="nav-item ">
          <a class="nav-link" href="/video">影片/直播</a>
        </li>
      </ul>

    </div>
    
  </nav>



<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">簡介</h3>
    <p>
    </p>
  </div>

  <div class="w3-row-padding ">
    <div class="w3-col l7 m9 w8-margin-bottom">
      <img src="https://pbs.twimg.com/media/EvKa6yUVcAAqYKa?format=jpg&name=large" style="width:100%">
      <br/>
      <h3><各種連結></h3>
      <p>
      
      <button class="w3-button w3-red  w3-block" onclick="window.open('https://www.youtube.com/gummy_forest', '_blank');" style="width: 50%;">＜按此進入Youtube Channel></button>

      <button class="w3-button w3-aqua  w3-block" onclick="window.open('https://twitter.com/MyaVtuber', '_blank');" style="width: 50%;">＜按此進入Twitter > </button>

      <button class="w3-button w3-purple  w3-block" onclick="window.open('https://www.instagram.com/mya_vtuber/', '_blank');" style="width: 50%;">＜按此進入Instagram > </button>
      <a href = "https://discord.com/invite/erB5AW9Vrp">
      <img src= "https://www.ostraining.com/cdn/images/discord-logo.png" style="width:40%" />
      </a>
     </p>
   </div>

    <div class="w3-col l5 m9 w8-margin-bottom">
      <h3>米亞MYA</h3>
      <p class="w3-opacity">香港VTuber</p>
      <p>來自竹林的野生熊貓，因為憧憬少女漫畫的情節，希望可以體驗人類的戀愛<del>(但有了黑貓先生)</del>，因此來到了人類的城市，遇見甘米。甘米收養了米亞並請她幫忙工作。目前作為繪圖助手，於人類世界生活中。
除了努力好像沒有其他優點，但是目的是要得到十萬訂閱，作為治癒系(自稱) Vtuber活動中。
<table border="1">
<tr>
<th>喜歡的東西：</th>
<th>討厭的東西：</th>
<th>目標：</th>
</tr>
</tr>
<td style="width:30%">

　<li>少女漫畫</li>
　<li>粉紅色</li>
　<li>惡作劇</li>
　<li>巧克力</li>
　<li>果汁</li>
　<li>遊戲</li>
　<li>冷笑話</li>
　<li>可愛的女孩子</li>
　<li>森林裡的動物們</li>
　<li>黑貓</li>
</ul>
</td>
<td style="width:30%">
<ul>
　<li>懶惰的甘米</li>
　<li>講壞話的人</li>
　<li>很多字的書</li>
　<li>青豆</li>
　<li>功課</li>
</ul>
</td>
<td style="width:40%">
<ul>
<li>練習不同的語言(英、日、國)</li>
<li>讓更多人喜歡香港文化/廣東話</li>
<li>擊敗甘米</li>
<li>十萬訂閱</li>
<li>認識不同的朋友</li>
<ul>
</td>
</tr>
</table>

<br/>

<iframe width="100%" height="400" src="https://www.youtube.com/embed/Er6WHooOKfo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
   
  </div>

  </div>
</div>

</body>
</html>
